<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddClient</title>
</head>
<body>
    <h2>Agregar cliente</h2>
    <form id="">
        <input title="nombre" type="text" placeholder="Nombre" id="name">
        <input title="documento" type="text" id="document" placeholder="Documento">
        <input title="correo" type="text" id="gmail" placeholder="Correo">
        <input title="phone" type="text" id="phone" placeholder="Phone">
        <input title="contraseña" type="password" id="password" placeholder="Contraseña">
        <label for="state">Estado</label>
        <select id="state">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>
        <button title="Crear nuevo cliente" type="submit">Crear</button>
    </form>
</body>
</html>