<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddClient</title>
</head>
<body>
    <h2>Agregar Cliente</h2>
    <form id="addClientForm">
        <input title="nombre" type="text" placeholder="Nombre" id="name" required>
        <input title="documento" type="text" id="document" placeholder="Documento" required>
        <input title="correo" type="text" id="gmail" placeholder="Correo" required>
        <input title="phone" type="text" id="phone" placeholder="Phone" required>
        <input title="contraseña" type="password" id="password" placeholder="Contraseña" required>
        <label for="state">Estado</label>
        <select id="state" required>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>
        <button title="Guardar nuevo cliente" type="submit">Guardar</button>
    </form>
    <script type="module" src="/static/js/clients/clientsCreate/mainCreateClient.js"></script>
</body>
</html>