<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plans creation</title>
</head>
<body>
    <h2>Agregar plan</h2>
    <form id="addPlansForm">
        <label for="">Planes</label>
        <input title="nombre" type="text" placeholder="Nombre" id="name" required>
        <input title="descripcion" type="text" placeholder="Descripcion" id="description" required>
        <input title="maximo usuarios" type="number" placeholder="Maximo usuarios" id="usermax" required>
        <label for="">Precios</label>
        <div id="content-new-price">
            <div class="price-item"> 
                <input title="meses de duracion plan" type="number" placeholder="Meses" class="months" required>
                <input title="precio segun meses" type="number" placeholder="Precio" class="price" required>
            </div>

            <button title="Crear nuevo precio" type="button" id="new-price-button">Nuevo precio</button>
        </div>
        <button title="Guardar nuevo plan" type="submit">Guardar</button>
    </form>
    <script type="module" src="/static/js/plans/planCreate/mainCreatePlans.js"></script>
</body>
</html>


