<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome to Home</h2>
    <section>
        <header>
            <nav>
                <ul>
                    <li><a href="/adminHome">Inicio</a></li>
                    <li><a href="/usersInfo">Usuarios</a></li>
                    <li><a href="/clientsInfo">Clientes</a></li>
                    <li><a href="">Items</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Mantenimientos</a></li>
                    <li><a href="">Tiplogia</a></li>
                    <li><a href="">Vitales</a></li>
                    <li><a href="">Trabajos especiales</a></li>
                    <li><a href="">Equipos mantenimiento</a></li>
                    <li><a href="">Informes</a></li>
                    <li><a href="">Cotizaciones</a></li>
                    <li><a href="">Facturacion</a></li>
                </ul>
            </nav>
        </header>
    </section>
    <button id="logoutButtonAdmin">CERRAR SESION</button>
    <script type="module" src="/static/js/dashboard/adminHome.js"></script>
</body>
</html>