<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome to Home</h2>
    <section>
        <header>
            <nav>
                <ul>
                    <li><a href="/home">Inicio</a></li>
                    <li><a href="/clientsInfo">Clientes</a></li>
                    <li><a href="">Asitencia</a></li>
                    <li><a href="">Reportes</a></li>
                    <li><a href="">Membresias</a></li>
                </ul>
            </nav>
        </header>
    </section>
</body>
</html>