<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Super admin</title>
</head>
<body>
    <h2>Welcome to Home super admin</h2>
    <section>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Usuarios</a></li>
                    <li><a href="/">Clientes</a></li>
                    <li><a href="/planList">Planes</a></li>
                    <li><a href="/">Cotizaciones</a></li>
                    <li><a href="/">Facturacion</a></li>
                </ul>
            </nav>
        </header>
    </section>
</body>
</html>