<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index principal</title>
</head>
<body>
        <form id="userForm">
            <input type="text" name="name" id="name">
            <input type="email" name="email" id="email">
            <input type="number" name="age" id="age">
            <input type="number" name="weight" id="weight">
            <input type="number" name="height" id="height">
            <input type="password" name="password" id="password">
            <button type="submit">Enviar</button>
        </form>
        <script>
            // buscar como funciona y usar fetch y JSON para poder conectar mi html con mi backend de creacion de usuarios
        </script>
</body>
</html>