<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear Cuenta</title>
  <link rel="stylesheet" href="/static/css/creationUsers.css">
</head>
<body>
  <div id="container-nav"></div>
  <div class="background">
    <div class="overlay">
      <div class="form-container">
        <img src="" alt="Logo" class="logo">
        <h1>¡Crea tu cuenta!</h1>
        <form id="userForm">
          <input type="text" id="name" placeholder="Nombre" required>
          <input type="email" id="email" placeholder="Correo" required>
          <input type="password" id="password" placeholder="Contraseña" required>
          <button type="submit" class="login-btn">Enviar</button>
        </form>
        <div class="register">
          ¿Ya tienes una cuenta? <a href="/loginUsers">Inicia sesión</a>
        </div>
      </div>
    </div>
  </div>
    <script type="module" src="/static/js/registerUser/mainRegisterUser.js"></script>
        <script src="/static/js/cammon/nav.js"></script>
    <script> 
      cargarMenu('/nav', 'container-nav');
    </script> 

</body>
</html>