<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear usuario</title>
    <link rel="stylesheet" href="../../static/css/creationUsers.css">
</head>
<body>
    <div class="login-page">
        <div class="login-card">
            <h2>Crear usuario</h2>
            <form id="userForm">
                <input type="text" id="name" placeholder="Nombre" required>
                <input type="email" id="email" placeholder="Correo" required>
                <input type="password" id="password" placeholder="Contraseña" required>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <script type="module" src="../../static/js/registerUser/mainRegisterUser.js"></script>
</body>
</html>
