<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear Cuenta</title>
  <link rel="stylesheet" href="/static/css/creationUsers.css">
</head>
<body>
  <div id="container-nav"></div>
  <div class="background">
    <div class="overlay">
      <div class="form-container">
        <img src="/static/images/LogoMasterGPro.png" alt="Logo" class="logoEmpresa">
        <h1>¡Crea tu cuenta!</h1>
        <form id="userForm">
          <!--Patter: validacion para usuario mas seguro-->
          <input title="3–15 caracteres, solo letras, números, '_' o '.'" type="text" id="name" pattern="[a-zA-Z0-9._]{3,15}" placeholder="Nombre" required>
          <input title="Correo" type="email" id="email" placeholder="Correo" required>
          <!-- Patter: Validacion par contrasera mas segura  -->
          <input title="8+ caracteres, con mayúscula, minúscula, número y símbolo" type="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" placeholder="Contraseña" required>
          <label class="terminos" for="">
            <input type="checkbox" required>
              Al enviar, acepta <a href="/PrivacyPolicy">Autorizacion de datos personales</a> 
          </label>
          <button title="Envio informacion" type="submit" class="login-btn">Enviar</button>
        </form>
        <div title="Inicia sesion con tu cuenta" class="register">
          ¿Ya tienes una cuenta? <a href="/loginUsers">Inicia sesión</a>
        </div>
      </div>
    </div>
  </div>
    <script type="module" src="/static/js/registerUser/mainRegisterUser.js"></script>
    <script src="/static/js/cammon/nav.js"></script>
    <script> 
      cargarMenu('/nav', 'container-nav');
    </script> 
</body>
</html>