<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>
<body> 
    <div class="login-card">
        <h2>Iniciar Sesion</h2>
        <form id="loginUserForm"> 
            <input type="email" id="email" placeholder="Correo electronico">
            <input type="password" id="password" placeholder="Contraseña">
            <button type="submit">Ingresar</button>
        </form>
    </div>
    <script type="module" src="/static/js/loginUser/mainLogin.js"></script>
</body>
</html>