<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="nav-links">
            <a href=""><button>Inicio</button></a>
            <a href=""><button>Servicios</button></a>
            <a href=""><button>Planes</button></a>
            <a href=""><button>Novedades</button></a>
            <a href=""><button>Beneficios</button></a>
            <a href=""><button>Nosotros</button></a>
        </div>
        <div class="auth-buttons">
            <a href="/loginUsers"><button>Iniciar Sesión</button></a>
            <a href="/createAccount"><button>Crear Cuenta</button></a>
        </div>
        <input type="text" placeholder="Búsqueda rápida...">
    </header>
</body>
</html>