<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navGeneral.css">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="nav-links">
            <a title="Ir a pagina principal" href="/index"><button>Inicio</button></a>
            <a title="Ver servicios" href=""><button>Servicios</button></a>
            <a title="Ver planes" href=""><button>Planes</button></a>
            <a title="Ver Novedades" href=""><button>Novedades</button></a>
            <a title="Ver beneficios" href=""><button>Beneficios</button></a>
            <a title="Informacion empresa" href=""><button>Nosotros</button></a>
        </div>
        <div class="auth-buttons">
            <a title="Inicia sesion con tu cuenta" href="/loginUsers"><button>Iniciar Sesión</button></a>
            <a title="Crea rapidamente tu cuenta" href="/createAccount"><button>Crear Cuenta</button></a>
        </div>
        <input title="Busqueda rapida" type="text" placeholder="Búsqueda rápida...">
    </header>
</body>
</html>