<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
</head>
<body>
    <a href="/addClient" title="" class="btn btn--outline">Agregar</a>
    <a href="/" title="" class="btn btn--outline">Filtros</a>
    <input type="text" id="searchInput" placeholder="Buscar cliente...">
    <button id="search-button">Buscar</button>
    <h2>Gestionar clientes</h2>
    <!-- Tabla de informacion de usuarios -->
    <table>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Fecha ingreso</th>
            <th>Estado</th>
        </tr>
        <tbody id="clients-table"></tbody>
    </table>
    <script type="module" src="/static/js/clients/allClients/mainAllClient.js"></script>
    <script type="module" src="/static/js/ui/clients/ui.js"></script>
</body>
</html>