<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body> 
  <section>
    <div id="container-nav"></div>
  </section>
  <div class="background">
    <div class="overlay">
      <div class="form-container">
        <img src="/static/images/marcoindex.jpg" alt="Logo" class="logoEmpresa">
        <h1>¡Iniciar Sesion!</h1>
        <form id="loginUserForm">
          <input title="Correo" type="email" id="email" placeholder="Correo" required>
          <input title="Contraseña" type="password" id="password" placeholder="Contraseña" required>
          <button title="Ingresa a tu cuenta" type="submit" class="login-btn">Ingresar</button>
        </form>
        <div title="Crea rapidamente tu cuenta" class="register">
          ¿No tienes cuenta aun? <a href="/index#planes">Registrate</a>
        </div>
      </div>
    </div>
  </div>
    <script type="module" src="/static/js/login/mainLogin.js"></script>
    <script src="/static/js/cammon/nav.js"></script>
    <script> 
      cargarMenu('/nav', 'container-nav');
    </script> 
</body>
</html>