<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/navGeneral.css">
    <title>Menú</title>
</head>
<body>
    <section>
        <header>                                                             
            <nav class="navbar">
                <div class="navbar__logo">
                    <a href="/index"><img src="/static/images/LogoMasterGPro.png" alt="Logo" class="logo">
                    </a>
                </div>
                <ul class="navbar__links">
                    <li><a href="/index#inicio" title="Ir a página principal">Inicio</a></li>
                    <li><a href="/index#servicios" title="Ver servicios">Servicios</a></li>
                    <li><a href="">Aliados</a></li>
                    <li><a href="/index#footer" title="Información empresa">Nosotros</a></li>
                </ul>
                <div class="navbar__auth">
                    <a href="/loginUsers" title="Inicia sesión con tu cuenta" class="btn btn--outline">Iniciar Sesión</a>
                </div>
            </nav>
        </header>
    </section>
</body>
</html>